
  body{
    padding: 0;
    margin: 0;
  }

.container {
  margin: 0px auto;
  width: 1310px;
  height: 500px;
  border: 20px solid black;
  border-radius: 30%;
}

.deck {
  /*border: 1px solid black;*/
  float: left;
  width: 300px;
  height: 500px;
}

#deal {
  border: 1px solid red;
  width: 250px;
  height: 250px;
  margin: 0px auto;
}

button {
  width: 100px;
  height: 100px;
  margin: 0px auto;
  position: relative;
  top: 100px;
  left: 70px;
}

#card {
  border: 1px solid white;
  width: 250px;
  height: 250px;
  margin: 0px auto;
}

.stack {
  border: 1px solid black;
  float: right;
  width: 1000px;
  height: 500px;
}

.cardstackrow {
  /*border: 1px solid black;*/
  width: 1000px;
  height: 100px;
  margin: 15px 0 15px 0;
}

.cards {
  /*border: 1px solid black;*/
  width: 64px;
  height: 88px;
  display: inline-block;
  margin-left: 5px;
  position: static;
}

.playerTurn {
  width: 1000px;
  height: 100px;
  margin: 0px auto;
  text-align: center;
  font-size: 80px;
}
.controls {
  width: 1000px;
  height: 150px;
  margin: 0px auto;
  background-color: #4285F4;
}

.buttons {
  display: inline-block;
  width: 75px;
  height: 75px;
  border: 1px solid black;
  font-size: 10px;
  text-align: center;
  margin: 25px 0 0 3px;
}

.playerStacks {
  width: 1000px;
  height: 500px;
  margin: 0px auto;
  /*background-color: #959C9C;*/
}

.player {
  display: inline-block;
  width: 450px;
  height: 500px;
  border: 1px solid black;
  margin: 0 0 0 25px;
  text-align: center;
}

.playerstackrow {
  width: 450px;
  height: 100px;
  border: 1px solid black;
}
