
body{
  font-family: 'Graduate', cursive;
  padding: 0;
  background-image: url("../bg.jpg");
}

.header {
  margin: 0px auto;
  width: 600px;
}

.container {
  margin: 0px auto;
  width: 1310px;
  height: 500px;
  border: 20px solid black;
  border-radius: 20px;
}

.deck {
  float: left;
  width: 300px;
  height: 500px;
}

header {
  font-family: 'Carter One', cursive;
  font-size: 100px;
  color: #335D66;
  text-align: center;
}

h1 {
  font-family: 'Graduate', cursive;
  font-size: 50px;
  color: #335D66;
  text-align: center;
}

#deal {
  /*border: 1px solid red;*/
  width: 250px;
  height: 250px;
  margin: 0px auto;
}

button {
  width: 100px;
  height: 50px;
  margin: 0px auto;
  position: relative;
  border-radius: 10px;
  top: 100px;
  left: 70px;
}

#dealtCard {
  margin: 0px auto;
  position: relative;
  left: 80px;
}

.stack {
  /*border: 1px solid black;*/
  float: right;
  width: 1000px;
  height: 500px;
}

.cardstackrow {
  /*border: 1px solid black;*/
  width: 1000px;
  height: 100px;
  margin: 15px 0 15px 0;
}

.cards {
  /*border: 1px solid black;*/
  width: 128px;
  height: 176px;
  display: inline-block;
  margin-left: -30px;
  position: static;
}

.playerTurn {
  width: 1000px;
  height: 100px;
  margin: 0px auto;
  text-align: center;
  font-size: 80px;
}
.controls {
  width: 1000px;
  height: 150px;
  margin: 0px auto;
}

.buttons {
  display: inline-block;
  width: 75px;
  height: 75px;
  border: 1px solid black;
  font-size: 15px;
  text-align: center;
  margin: 25px 0 0 3px;
  border-radius: 10px;
  background-color: #00D3FF;
}

#red {
  color: #D24D4A;
}

#diamond {
  color: #D24D4A;
}

#heart {
  color: #D24D4A;
}

.playerStacks {
  width: 1000px;
  height: 500px;
  margin: 0px auto;
  /*background-color: #959C9C;*/
}

.player {
  display: inline-block;
  width: 450px;
  height: 500px;
  /*border: 1px solid black;*/
  margin: 0 0 0 25px;
  text-align: center;
}

.playerstackrow {
  position: relative;
  top: 100px;
  width: 200px;
  height: 180px;
  margin: -100px 0 -50px 0;
  /*border: 1px solid black;*/
}
